<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>XSD Visualizer</string>
  <key>CFBundleDisplayName</key>
  <string>XSD Visualizer</string>
  <key>CFBundleIdentifier</key>
  <string>io.github.renatoassis01.xsdvisualizer</string>
  <key>CFBundleExecutable</key>
  <string>XsdVisualizer</string>
  <key>CFBundleIconFile</key>
  <string>app.icns</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleVersion</key>
  <string>@VERSION@</string>
  <key>CFBundleShortVersionString</key>
  <string>@VERSION@</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (c) 2026 Renato Assis. MIT License.</string>
</dict>
</plist>
